body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    font-size: 2em;
}

main {
    padding: 2em;
}
.contenedor {
    display: flex;
    justify-content: center;
}
.hero {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

input[type="text"] {
    padding: 0.5em 1em;
    border: 1px  #17202A;
    margin-bottom: 1em;
}

button[type="submit"] {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.thanks {
    background-color: #f0f0f0;
    padding: 1em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
